<footer class="container-fluid bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Informations de contact</h5>
                <p>Adresse: Esprit</p>
                <p>Téléphone: +21695155506</p>
                <p>Email: nutrifit@gmail.com</p>
            </div>
            
        </div>
    </div>
</footer>
