{% extends 'baseBack.html.twig' %}

{% block title %}Edit Reponse{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-5">
                <div class="card-header bg-primary text-white">Edit Reponse</div>
                <div class="card-body">
                    {{ include('reponse_back/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
                <div class="card-footer">
                    <a href="{{ path('app_reponse_back_index') }}" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{ include('reponse_back/_delete_form.html.twig') }}
{% endblock %}
